<h2>Our Cocktails</h2>
<%= link_to 'Create a new cocktail', new_cocktail_path(@cocktail), class: "btn btn-primary"%>
<%= cl_image_tag("san_fran",
      width: 400, height: 300, crop: :fill) %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name.capitalize %></td>
        <td><%= link_to 'Show', cocktail %></td>
        <td></td>

      </tr>
    <% end %>
  </tbody>
</table>
